<!DOCTYPE html>
<html>
    <head>
        <title>Flask/Jinja</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #main {
                max-width: 500px;
                padding: 20px;
            }

            nav .title {
                font-weight: bold;
            }

             .active {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
      <h1>Hello World!</h1>
    </body>
    <footer>
     by Kharla
    </footer>
</html>